* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #F2F2F2;
}

.App {
    background-image: url('./assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;


}

